body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}
.container{
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.454);
}

.form_contagem{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 246px;
   
}
.form_group{
    display: flex;
    gap: 1.1rem; 

}
input[type="number"] {
  margin-left: auto;
}

button{
    width: 100px;
}

.result-area{
    margin-top: 10px;
    padding: 10px 0px ;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}